%tbody.conditions-table__body__data
  %tr.conditions-table__column__data
    -if current_user.admin?
      %td.conditions-table__column__data--user
        = condition.user.nickname
    %td.conditions-table__column__data--status
      = condition.phase_i18n
    %td.conditions-table__column__data--result
      = condition.result_i18n
    %td.conditions-table__column__data--company-name
      = condition.office.company_name
    %td.conditions-table__column__data--company-area
      = condition.office.area
    %td.conditions-table__column__data--date
      = condition.date
    %td.conditions-table__column__data--memo
      = condition.memo
    %td.conditions-table__column__data--edit
      = link_to edit_condition_path(condition) do
        = icon('fas', 'edit', class: "button")
      = link_to condition_path(condition), method: :delete, remote: true, data:{ confirm: "活動を削除します。よろしいですか？" }, class: "delete" do
        = icon('fas', 'trash-alt', class: "button")