%h2 活動記録

= form_for @condition, html: { class: "new-status" } do |f|
  .new-status__field
    = icon('far', 'building', class: "button")
    = f.label :text, "企業名"
    %br
    = f.collection_select :office_id, Office.all, :id, :company_name, include_blank: true, class: 'new-status__field--pulldown'
    %br
    %br
    = icon('fas', 'info', class: "button")
    = f.label :text, "フェーズ"
    %br
    = f.select :phase, Condition.phases_i18n.invert, {}, include_blank: true, class: 'new-status__field--text'
    %br
    %br
    = icon('far', 'calendar', class: "button")
    = f.label :text, "次回日程"
    %br
    %br
    = f.text_field :date, class: 'new-status__field--text', placeholder: 'e.g.2020-01-01'
    %br
    = icon('far', 'sticky-note', class: "button")
    = f.label :text, "メモ"
    %br
    = f.text_field :memo, class: 'new-status__field--text', placeholder: 'e.g.ご自由に使ってください'
    %br
    = f.submit 'Send', class: 'new-status__send'