= render 'shared/header'

.body-offices
  .body-offices__import
    -if current_user.admin?
      %h3.comp 企業の取り込み
      = form_tag import_offices_path, multipart: true, class: "body__import--form" do
        = file_field_tag :file, class: "body__import--file"
        = submit_tag "Import", class: "body__import--button"

  .body-offices__find
    %input.body-offices__find--box{type: "text", placeholder: "検索ワード"}

  .body-offices__list
    %br
    %table.offices-table
      %tbody.offices-table__body__title
        %tr.offices-table__column__title
          %th.offices-table__column__title--area
            地域
          %th.offices-table__column__title--name
            企業名
          %th.offices-table__column__title--people
            従業員数
          %th.offices-table__column__title--revenue
            売上高
          %th.offices-table__column__title--url
            ホームページ
          %th.offices-table__column__title--detail
            詳細

      = render @offices