.header
  .header__title
    転職サプリ
  .header__contents
    - if user_signed_in?
      .header__contents--name
        ようこそ #{current_user.nickname} さん
      .header__contents--button
        = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      .header__contents--name
        = link_to "新規登録", new_user_registration_path
      .header__contents--button
        = link_to "ログイン", new_user_session_path

.body-offices
  .body-offices__import
    企業の取り込み
    = form_tag import_offices_path, multipart: true, class: "body__import--form" do
      = file_field_tag :file, class: "body__import--file"
      = submit_tag "Import", class: "body__import--button"

  .body-offices__list
    %br
    %table.offices-table
      %tbody.offices-table__body.title
        %tr.offices-table__column.title
          %th
            %div(class: offices-table__column--name)
              企業名
          %th
            %div(class: offices-table__column--overview)
              会社概要
          %th
            %div(class: offices-table__column--ceo)
              代表取締役
          %th
            %div(class: offices-table__column--foundation)
              設立年月日
          %th
            %div(class: offices-table__column--people)
              従業員数
          %th
            %div(class: offices-table__column--area)
              地域
          %th
            %div(class: offices-table__column--revenue)
              売上高

      - @offices.each do |office|
        %tbody.offices-table__body
          %tr.offices-table__column
            %td
              %div(class: offices-table__column--name)
                = office.company_name
            %td
              %div(class: offices-table__column--overview)
                = office.overview
            %td
              %div(class: offices-table__column--ceo)
                = office.ceo
            %td
              %div(class: offices-table__column--foundation)
                = office.foundation
            %td
              %div(class: offices-table__column--people)
                = office.people
            %td
              %div(class: offices-table__column--area)
                = office.area
            %td
              %div(class: offices-table__column--revenue)
                = office.revenue

-# = render @office
