.menu-items
  .menu-items__title
    Contents
  .menu-items__offices
    = icon('fas', 'building', class: "button")
    企業を探す
    .menu-items__offices--picture
      = link_to offices_path do
        = image_tag("/images/company_image.png", width: "400px", height: "400px") 
    .menu-items__offices--text
      Web系の企業を紹介しています。
  .menu-items__conditions
    = icon('fas', 'chart-line', class: "button")
    活動を見る
    .menu-items__conditions--picture
      = link_to user_path(current_user) do
        = image_tag("/images/status_image.png", width: "400px", height: "400px") 
    .menu-items__conditions--text
      あなたの転職活動の状況を確認しましょう。