.header
  .header__title
    転職サプリ
  .header__contents
    - if user_signed_in?
      .header__contents--name
        ようこそ #{current_user.nickname} さん
      .header__contents--button
        = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      .header__contents--name
        = link_to "新規登録", new_user_registration_path
      .header__contents--button
        = link_to "ログイン", new_user_session_path

.body
  .body__new
    -# = link_to new_condition_path do
    %button 活動登録

  .main__list
    %br
    %table.conditions-table
      %tbody.conditions-table__body
        %tr.conditions-table__column.title
          %td
            %div(class: conditions-table__column--status)
              状況
          %td
            %div(class: conditions-table__column--company-name)
              企業名
          %td
            %div(class: conditions-table__column--company-area)
              地域
          %td
            %div(class: conditions-table__column--date)
              次回日程
          %td
            %div(class: conditions-table__column--memo)
              メモ
          %td
            %div(class: conditions-table__column--edit)
              編集
      - @conditions.each do |c|
        %tbody.conditions-table__body
          %tr
            %td
              %div(class: conditions-table__column--status)
                = c.phase_i18n
            %td
              %div(class: conditions-table__column--company-name)
                = c.office.company_name
            %td
              %div(class: conditions-table__column--company-area)
                = c.office.area
            %td
              %div(class: conditions-table__column--date)
                = c.date
            %td
              %div(class: conditions-table__column--memo)
                = c.memo
            %td
              %div(class: conditions-table__column--edit)
                = link_to edit_condition_path(c) do
                  = icon('fas', 'edit', class: "button")

.modal
  .modal__items
    %h2 活動記録

    = form_for @condition, html: { class: "new-status" } do |f|
      .new-status__field
        = icon('far', 'building', class: "button")
        = f.label :text, "企業名"
        %br
        = f.collection_select :office_id, Office.all, :id, :company_name, include_blank: true, class: 'new-status__field--pulldown'
        %br
        %br
        = icon('fas', 'info', class: "button")
        = f.label :text, "フェーズ"
        %br
        = f.select :phase, Condition.phases_i18n.invert, {}, include_blank: true, class: 'new-status__field--text'
        %br
        %br
        = icon('far', 'calendar', class: "button")
        = f.label :text, "次回日程"
        %br
        %br
        = f.text_field :date, class: 'new-status__field--text', placeholder: 'e.g.2020-01-01'
        %br
        = icon('far', 'sticky-note', class: "button")
        = f.label :text, "メモ"
        %br
        = f.text_field :memo, class: 'new-status__field--text', placeholder: 'e.g.ご自由に使ってください'
        %br
        = f.submit 'Send', class: 'new-status__send'
