.header
  .header__title
    転職サプリ
  .header__contents
    - if user_signed_in?
      .header__contents--name
        ようこそ #{current_user.nickname} さん
      .header__contents--button
        = link_to "ログアウト", destroy_user_session_path, method: :delete
        -# = link_to "ログアウト", destroy_user_session_path, method: :delete do
        -#   = icon('fas', 'sign-out-alt', class: "button")
    - else
      .header__contents--name
        = link_to "新規登録", new_user_registration_path
      .header__contents--button
        = link_to "ログイン", new_user_session_path

.body-conditions
  .body-conditions__new
    %button.body-conditions__new--button
      活動登録
  .body-conditions__list
    %br
    %table.conditions-table
      %tbody.conditions-table__body.title
        %tr.conditions-table__column.title
          %th.conditions-table__column--status
            状況
          %th.conditions-table__column--result
            結果
          %th.conditions-table__column--company-name
            企業名
          %th.conditions-table__column--company-area
            地域
          %th.conditions-table__column--date
            次回日程
          %th.conditions-table__column--memo
            メモ
          %th.conditions-table__column--edit
            編集/削除
      - @conditions.each do |c|
        = render partial: "conditions/condition", locals: { condition: c }

.modal
  .modal__items
    = render partial: "conditions/form", locals: { condition: @condition }